[Version-01] Yang validation fails when submitting I-D 

draft-aguado-opsawg-l3sm-l3nm-01.txt:
xym 0.4:
Extracting 'ietf-l3vpn-ntw@2019-07-04.yang'
   Removed 6 empty lines


ietf-l3vpn-ntw@2019-07-04.yang:
pyang 1.7.8: pyang --verbose --ietf -p {libs} {model}:
# read /tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang (CL)
# read /a/www/ietf-datatracker/6.98.3/env/share/yang/modules/ietf/ietf-inet-types.yang
# read /a/www/ietf-ftp/yang/draftmod/ietf-inet-types@2019-03-11.yang
# read /a/www/ietf-datatracker/6.98.3/env/share/yang/modules/ietf/ietf-yang-types.yang
# read /a/www/ietf-ftp/yang/draftmod/ietf-yang-types@2019-03-11.yang
# read /a/www/ietf-datatracker/6.98.3/env/share/yang/modules/ietf/ietf-netconf-acm.yang
# read /a/www/ietf-ftp/yang/rfcmod/ietf-netconf-acm@2018-02-14.yang
# read /a/www/ietf-datatracker/6.98.3/env/share/yang/modules/ietf/ietf-routing-types.yang
# read /a/www/ietf-ftp/yang/rfcmod/ietf-routing-types@2017-12-04.yang
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:167: error: RFC 6087: 4.11,4.12: statement "typedef" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:184: error: RFC 6087: 4.11,4.12: statement "typedef" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:1779: error: RFC 6087: 4.12: statement "list" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:1900: warning: RFC 6087: 4.3: statement "mandatory" is given with its default value "false"
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3065: error: RFC 6087: 4.12: statement "container" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3066: error: RFC 6087: 4.12: statement "list" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3072: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3073: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3079: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3080: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3085: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3086: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3093: error: RFC 6087: 4.12: statement "grouping" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3095: error: feature "input-bw" not found in module ietf-l3vpn-ntw
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3208: error: RFC 6087: 4.12: statement "grouping" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3214: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3215: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3218: error: keyword "config" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3221: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3233: error: RFC 6087: 4.12: statement "list" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3239: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3240: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3252: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3253: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3260: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3261: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3286: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3287: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3293: error: RFC 6087: 4.12: statement "container" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3302: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3303: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3307: error: RFC 6087: 4.12: statement "leaf-list" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3310: error: unexpected keyword "description"
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3325: error: RFC 6087: 4.12: statement "container" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3327: error: RFC 6087: 4.12: statement "list" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3355: error: RFC 6087: 4.12: statement "grouping" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3357: error: RFC 6087: 4.12: statement "container" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3364: error: keyword "description" not in canonical order,expected "type" (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3365: error: keyword "type" not in canonical order (see RFC 6020, Section 12)
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3370: error: RFC 6087: 4.12: statement "grouping" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3387: error: RFC 6087: 4.12: statement "grouping" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3388: error: RFC 6087: 4.12: statement "container" must have a "description" substatement
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3425: error: feature "dot1q" not found in module ietf-l3vpn-ntw
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3470: error: feature "qinq" not found in module ietf-l3vpn-ntw
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3502: error: feature "qinany" not found in module ietf-l3vpn-ntw
/tmp/tmpwCoER3/ietf-l3vpn-ntw@2019-07-04.yang:3528: error: feature "vxlan" not found in module ietf-l3vpn-ntw

yanglint 0.14.80: yanglint --verbose -p {rfclib} -p {draftlib} -p {tmplib} {model} -i:
err : Invalid keyword "description".
err : Module "ietf-l3vpn-ntw" parsing failed.

Now it compiles whitout errors:

$ pyang --verbose --ietf ietf-l3vpn-ntw.yang 
$ 